{
  "presets": [
    [
      "env", {
        "targets": { "browsers": [ "last 2 Chrome versions", "ie >= 11" ] },
        "debug": true
      }
    ], "react", "stage-3"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-object-assign"
  ]
}